eng-to-ipa==0.0.2
nltk==3.8.1
numpy==1.23.5
pandas==2.0.3
phonemizer==3.2.1
protobuf==4.25.3
pydub==0.25.1
soundfile==0.12.1
tokenizers==0.15.2
torch==2.2.1
torchaudio==2.2.1
transformers==4.38.2
matplotlib==3.7.5
pygame==2.5.2
alive_progress==3.2.0
